version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "US/Pacific"
    commit-message:
      prefix: "github-actions"
    cooldown:
      default-days: 30   # Wait 30 days for any updates
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "US/Pacific"
    commit-message:
      prefix: "gomod"
    cooldown:
      semver-major-days: 30   # Wait 30 days for major updates
      semver-minor-days: 7    # Wait 7 days for minor updates
      semver-patch-days: 3    # Wait 3 days for patch updates
    groups:
      minor-updates: # Update all minor and security versions
        applies-to: version-updates
        patterns:
        - "*"
        update-types:
        - "minor"
        - "patch"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "US/Pacific"
    commit-message:
      prefix: "npm"
    cooldown:
      semver-major-days: 30   # Wait 30 days for major updates
      semver-minor-days: 7    # Wait 7 days for minor updates
      semver-patch-days: 3    # Wait 3 days for patch updates
    groups:
      minor-updates: # Update all minor and security versions
        applies-to: version-updates
        patterns:
        - "*"
        update-types:
        - "minor"
        - "patch"
    # Temporary - pending release of docsy newer than 0.12.0.  See comment on PR 646.
    # Once that is available we'll need to upgrade Hugo as well (see netlify.toml).
    ignore:
      - dependency-name: "docsy"
        update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
