# Default owners for everything in the repo.
*       @mjang-cobalt @ana-dashuk-cobalt 
# If neither user is available, contact
# Stef Sexton (@stef-cobalt), or message in the Cobalt internal Slack #docs room.
