/*

Add styles or override variables from the theme here.

*/
nav ul li a {
  padding-left: 0.5rem;
}

.navbar-nav {
    background: #4185EB; 
}

.navbar-nav .nav-link {
  color: #ffffff; // Change the default link color

  &:hover {
    color: #002243; // Change the hover color
}


.td-box--dark,.td-footer {
    color: #fff;
    background-color: #002243;
}

$td-enable-google-fonts: false;

$google_font_name: "Lato";
$google_font_family: "Lato:300,300i,400,400i,700,700i";

$primary: #0047AB !default;

$link-col: #248BD2 !default;
$link-color: darken($link-col, 15%) !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

.td-page-meta--view { display: none !important; }

#cobalt-api-docs {
  position: absolute;
  top: 4rem;
  left: 16.66666667%;
  width: calc(100% - 16.66666667%);
  height: calc(100% - 4rem);
  border: 0;
  z-index: 5;
}
