/*

Add styles or override variables from the theme here.

*/
nav ul li a {
  padding-left: 0.5rem;
}

.navbar,.td-navbar {
  background: #4185EB !important;
}

.centered-image {
  display: block;
  margin: 0 auto;
}

.navbar-nav .nav-link {
  color: #ffffff !important; // Change the default link color

  &:hover {
    color: #002243 !important; // Change the hover color
}
}

.td-search:not(:focus-within) {
    color: #fff !important;
}

.td-navbar .td-search__input {
    border: 1px solid !important;
    color: inherit;
}

.custom-link-color {
  color: #0047AB;
}

.td-sidebar {
  background-color: #F1F7FF !important;
  border-right: 0px solid !important;
}

.td-sidebar-nav__section-title a {
    color: #0047AB !important;
}

nav.foldable-nav .ul-1 .with-child>label:before {
    display: none !important;

}

.td-sidebar-nav__item {
  padding-left: 1rem; // Adjust the padding as needed
}

nav.foldable-nav .with-child ul {
    margin-left: -.5em !important;
}

.td-sidebar-nav .td-sidebar-link.tree-root {
    font-weight: 700;
    border-bottom: 1px solid #4185eb52 !important;
    margin-bottom: .5rem !important;
}

.td-navbar {
  box-shadow: 0 2px 10px rgba(0, 70, 168, .63) !important;
}

.td-box--dark,.td-footer {
    color: #fff;
    background-color: #002243 !important; 
    max-height: 100px !important;
  }

.taxo-text-tags .taxonomy-term:hover .taxonomy-count {
    color: #0047AB !important;
}

.taxo-fruits .taxonomy-term:hover {
    background: 0 0;
    color: #0047AB;
}



.card {
  background-color: #ffffff !important; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: rgba(255, 255, 255, 0) !important;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 71, 171, 0.21) !important;
  padding: 20px;
  flex-grow: 1 !important;
  height: 230px !important;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
}

.card-image {
  width: 75px;
  height: auto;
  margin-right: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  flex: 1;
}

.title-color {
  color: #000000;
}

.gradient-text {
  background: linear-gradient(to right, #0047AB, #6500CC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
    color: #0047AB !important;
    text-decoration: none;
}

a:hover {
    color: #4185EB !important;
    text-decoration: none;
}

.btn-outline-primary:hover {
  background-color: #0047AB !important;
  border-color: #0047AB !important;
  color: #fff !important; /* Set the text color to white */
}

.btn-outline-primary {
  width: 185px !important; /* Adjust the width as needed */
}

.pageinfo {
    font-weight: 500;
    background: #F1EAFF !important;
    color: inherit;
    margin: 2rem auto;
    padding: 1.5rem;
    padding-bottom: .5rem;
}

/* Variations with different colors */
.pageinfo-blue {
  background-color: #D1E4FF !important;
  color: inherit;
}

.pageinfo-green {
  background-color: #D7F4F0 !important;
  color: #333;
}

.pageinfo-yellow {
  background-color: #FFF7DB !important;
  color: #333;
}

.fa-chevron-right::before {
    content: "\f054"; 
    font-size: medium !important;
    color: #0047ab;
}

.fa-chevron-down::before {
    content: "\f078";
    font-size: medium !important;
    color: #0047ab;
}

$bs-link-color: #0047AB;
$bs-link-hover-color: #002243;

$td-enable-google-fonts: true;

$google_font_name: "Inter";
$google_font_family: "Inter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i";

$primary: #0047AB !default;

$link-col: #248BD2 !default;
$link-color: darken($link-col, 15%) !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

.td-page-meta--view { display: none !important; }



#cobalt-api-docs {
  position: absolute;
  top: 4rem;
  left: 16.66666667%;
  width: calc(100% - 16.66666667%);
  height: calc(100% - 4rem);
  border: 0;
  z-index: 5;
}

.td-page-meta__lastmod { display: none !important; }

