/*

Add styles or override variables from the theme here.

*/
nav ul li a {
  padding-left: 0.5rem;
}

.navbar,.td-navbar {
  background: #4185EB !important;
}

.centered-image {
  display: block;
  margin: 0 auto;
}

.navbar-nav .nav-link {
  color: #ffffff; // Change the default link color

  &:hover {
    color: #002243; // Change the hover color
}
}

.custom-link-color {
  color: #000;
}

nav.foldable-nav .td-sidebar-nav__section,nav.foldable-nav .with-child ul {
    background-color: #F1F7FF;
    border-right: 0px;
}

.td-box--dark,.td-footer {
    color: #fff;
    background-color: #002243 !important; 
    max-height: 100px !important;
  }


$td-enable-google-fonts: true;

$google_font_name: "Inter";
$google_font_family: "Inter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i";

$primary: #0047AB !default;

$link-col: #248BD2 !default;
$link-color: darken($link-col, 15%) !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

.td-page-meta--view { display: none !important; }

#cobalt-api-docs {
  position: absolute;
  top: 4rem;
  left: 16.66666667%;
  width: calc(100% - 16.66666667%);
  height: calc(100% - 4rem);
  border: 0;
  z-index: 5;
}
