<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'LO905KII8T',
    apiKey: '081cbb224def9ff9e21375ff7eb7c56b',
    siteId: '3f9339ea-0022-4fb6-b067-57019da98a8e',
    branch: 'main',
    selector: 'div#search',
  });
</script>
