<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'MUTX0AMJ8W',
    apiKey: '199f0fa0c559cf63b7396f83a3372e5d',
    siteId: '3f9339ea-0022-4fb6-b067-57019da98a8e',
    branch: 'main',
    selector: 'div#search',
  });
</script>
