<div id="feedback">
<br>
<hr size="12" width="100%" color="0047AB">  
<br>
  <p><b>Was this page helpful?</b></p>

        <a class="btn btn-primary mr-3 mb-4">
           Yes <i class="fas"></i>
        </a>
        <a class="btn btn-primary mr-3 mb-4">
           No <i class="fas"></i>
        </a>
        <a class="btn btn-outline-primary mr-3 mb-4" href="https://github.com/cobalthq/cobalt-product-public-docs/issues/new">
                Create an Issue <i class="fab"></i>
        </a>
</div>