<h2 id="additional-requirements">Additional Requirements</h2>
<p>You&rsquo;re welcome to define additional test objectives. If you follow best practices other than
OWASP, ASVS, or OSSTMM, let us know. Include a link or other documentation. If it&rsquo;s a
&ldquo;well-known&rdquo; security practice, our pentesters probably already know them!</p>
<p>If you have special instructions for a pentest, such as specific security issues,
add them later, under <a href="../../special-instructions">Special Instructions</a>.</p>
